ion-header{
    ion-toolbar{
        --background: #251D73; 
        ion-title{
            color: #ccc;
            text-align: center;
        }
    } 
}

ion-content{
    ion-segment{
        --background: #f8f8f8;
        ion-segment-button{
            --indicator-color: #251D73;
            --color-checked: #251D73;
            font-weight: bold;
        }
    }
    #date{
        padding-left: 20px;
    }
    .upperBox{
        background-color: #fff;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: auto;
        display: grid;
        grid-template-columns: 40% 35% 15% 10%;
        grid-template-rows: 15% 35% 35% 15%;
        gap: 5px 5px;
        grid-template-areas: "image title title menu" "image taskId taskId taskId" "image status status status";
        .image{
            grid-area: image;
            img{
                padding: 10px;
                border-radius: 5px;
                height: auto;
                width: 100%;
            }
        }
        .title{
            grid-area: title;
            color: #181717;
            font-weight: bold;
            h3{
                font-size: 16px;
            }
        }
        .menu{
            grid-area: menu;
            margin-right: 1Opx;
            justify-self: center;
        }
        .taskId{
            grid-area: taskId;
            p{
                color: gray;
            }
        } 
        .status{
            grid-area: status;
            p{
                margin-right: 20px;
                margin-top: -8px;
                font-size: 12px;
                background: #e4f4eb;
                padding: 5px;
                text-align: center;
                color: green;
            }
        }  
    }
}