<ion-header>
  <ion-toolbar>
    <ion-title>{{ taskId ? 'Modifier Tâche' : 'Ajouter Tâche' }}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="dismiss()">Fermer</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Complétée</ion-label>
      <ion-toggle formControlName="completed"></ion-toggle>
    </ion-item>

    <ion-button expand="full" type="submit">{{ taskId ? 'Modifier' : 'Ajouter' }}</ion-button>
  </form>
</ion-content>
