ion-item.item-modify, ion-item.item-delete, ion-item.item-complete {
  --border-color: #ccc;
  --border-width: 1px;
  --background: #f4f4f4;
  margin-bottom: 10px;
}

.item-modify ion-icon, .item-delete ion-icon {
  margin-right: 8px;
}

.item-complete ion-toggle {
  margin-left: auto;
}

.item-close {
  --background: #ff4d4d;
  --color: white;
}

.item-close ion-label {
  text-align: center;
  width: 100%;
}
